<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kai.tan.com.testpermission">

    <!-- ###############################正常权限################################ -->
    <!-- 小米权限管理 资费相关：发送彩信 -->
    <!--
        小米权限详情：安全相关
        完全的网络访问权限
        允许该应用创建网络套接字和使用自定义网络协议。浏览器和其他某些应用提供了向互联网发送数据的途径，因此应用无需该权限即可向互联网发送数据。
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        小米权限详情：其他权限
        查看WLAN连接
        允许该应用查看WLAN网络的相关信息，例如是否启用了WLAN以及连接的WLAN设备的名称
    -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->


    <!--
        小米权限详情：其他权限
        查看网络连接
        允许该应用查看网络连接的相关信息，例如存在和连接的网络
    -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <!--
        小米权限详情：隐私权限
        检索正在运行的应用
        允许该应用获取近期或正在运行的任务相关信息。此权限可让应用了解设备上使用了哪些应用
    -->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--小米权限管理 隐私相关：获取手机的账户列表-->
    <!--
        小米权限详情：隐私权限
        查找设备上的账户
        允许该应用获取手机已知的账户列表。
    -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <!--
        小米权限详情：其他权限
        关闭其他应用
        允许该应用结束其他应用的后台进程。
    -->
    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->

    <!--
        小米权限详情：安全相关
        发送持久广播
    -->
    <!--<uses-permission android:name="android.permission.BROADCAST_STICKY" />-->
    <!--
        小米权限详情：安全相关
        修改全局音频设置
    -->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <!--
        小米权限详情：其他权限
        开机启动
        允许应用在系统完成引导后立即自动启动。这样可能会延长手机的启动时间，并允许应用始终运行，从而导致手机总体运行速度减慢
    -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--
        小米权限详情：其他权限
        更改网络连接性
        允许应用更改网络连接的状态
    -->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->

    <!--小米权限管理 设置相关：开启WIFI-->
    <!--
        小米权限详情：其他权限
        连接WLAN网络和断开连接
        允许该应用于WLAN接入点建立和断开连接，以及更改WLAN网络的设备配置
    -->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <!--允许应用在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许应用震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ###############################特殊权限################################ -->
    <!-- 小米权限管理 设置相关：系统设置 -->
    <!--
        小米权限详情：安全相关
        修改系统设置
        允许应用修改系统的设置数据。恶意应用可能会破坏您的系统配置
    -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->


    <!-- 小米权限管理 设置相关：显示悬浮窗 -->
    <!--
        小米权限详情：安全相关
        在其他应用之上显示内容
        允许该应用在其他应用之上或用户界面的特定部分绘图。这可能会干扰您对所有应用界面的使用，或使您在其他应用中看到的内容发生变化
    -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->


    <!-- ###############################以下是危险权限################################ -->
    <!-- 在清除数据后，危险权限得重新授权 -->


    <!-- ###############################PHONE权限-start################################ -->


    <!-- 小米权限管理 隐私相关：获取手机信息：获取手机号码、IMEI、IMSI权限 -->
    <!--
        小米权限详情：隐私相关
        读取手机状态和身份：允许该应用访问设备的电话功能。此权限可以让该应用确定本机号码和设备ID、是否正处于通话状态以及拨打的号码
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 小米权限管理 资费相关：电话 直接拨打电话 -->
    <!--
        小米权限详情：其他权限
        拨打电话：允许该应用在您未执行操作的情况下拨打电话号码。此权限可能会导致意外收费或呼叫。请注意，此权限不允许该应用拨打紧急电话号码。
        恶意应用可通过拨打电话产生相关费用，而无需你确认。
    -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->


    <!-- ###############################PHONE权限 - end################################ -->


    <!-- ###############################STORAGE权限 - start################################ -->
    <!-- 小米权限管理 多媒体相关：读写手机存储： -->
    <!--
        小米权限详情：其他权限
        有两个：1 修改或删除内部存储（允许应用写入存储）。 2 读取内部存储（允许应用读取存储设备）。
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 小米权限管理 多媒体相关：读写手机存储： -->
    <!--
        小米权限详情：其他权限
        读取内部存储（允许应用读取存储设备）。
    -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->

    <!-- ###############################STORAGE权限 - end################################ -->

    <!-- ###############################LOCATION权限 - start################################ -->


    <!-- 小米权限管理 隐私相关：定位 通过网络或卫星对您的手机定位 -->
    <!--
        小米权限详情：隐私相关
        精确位置（基于GPS和网络）
        允许该应用通过全球定位系统（gps）或网络位置信息源（例如基站和WLAN）获取您的精确位置信息。您必须在设备上开启这些位置信息服务，应用才能获得位置信息。
        应用汇使用此类服务确定您的位置，这可能消耗更多电量。
    -->
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <!-- 小米权限管理 隐私相关：定位 通过网络或卫星对您的手机定位 -->
    <!--
        小米权限详情：隐私相关
        大致位置（基于网络）
        允许该应用获取您的大致位置信息。这类位置信息来自于使用网络位置信息源（例如基站和WLAN）的位置信息服务。
        您必须在设备上开启这些位置信息服务，应用才能获得位置信息。应用会使用此类服务确定你的大概位置。
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ###############################LOCATION权限 - end################################ -->

    <!-- ###############################CAMERA权限 - start################################ -->

    <!-- 小米权限管理 多媒体相关：相机 拍照、录像和闪光灯 -->
    <!--
        小米权限详情：其他权限
        拍摄照片和视频
        允许该应用使用相机拍摄照片和视频。此权限可以让该应用随时使用相机，而无需您的确认。
        2016年4月1日14:45:19 注意 MIUI版本 76.3.24 | 开发版 没有申明此权限，也能正常使用照相机，so，小米觉得它不是危险权限罗呵呵
    -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->

    <!-- ###############################CAMERA权限 - end################################ -->
    
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationActivity"/>
    </application>

</manifest>